.todo
  .todo__header
    .todo__header__box1
      TODOリスト
    .todo__header__box2
      .todo__header__box2__name
        森中
      = icon('fas', 'cog', class: 'todo__header__box2__name__cog-btn')

  .todo__main
    .todo__main__new
      = form_for [@task] do |f|
        = f.text_field :content, class: 'todo__main__new__form', placeholder: '新しいToDoを入力してください'
        = f.submit '作成', class: 'todo__main__new__btn'
    .todo__main__list
      .todo__main__list__to-do
        買い物リスト
      .todo__main__list__to-do
        レポート課題